.score-container {
  height: 8vh;
  width: 100%;
  background-color: #31a354;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 3vh;
  border-bottom: 3px solid #148f39;
}

.game-container {
  height: 72vh; /* (height .score-container) - (height .container) */
  width: 80vh;
  display: grid;
  grid-template: repeat(18, 1fr) / repeat(20, 1fr);
}

.game-container.hidden {
  display: none;
}

.food {
  background-image: url("../pictures/apple.png");
  background-size: cover;
}

.snake {
  background-color: #31a354;
  border: 3px solid #148f39;
  border-radius: 7.5px;
}

.snake-head {
  background-color: #145c32;
  border: 3px solid #145c32;
  border-radius: 7.5px;
}
